{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans "Forgot password" %}{% endblock title %}

{% block content %}
<center>
    <div class="container" style="margin-top:125px">
        <div class="col-6">
            <h1>{% trans "Forgot your password ?" %}</h1>
            <br><br>         
            <p>
                {% trans "Enter your registration email to recover the login password:" %}
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <input type="submit" class="btn btn-success" value="{% trans 'Send' %}">
            </form>
        </div>
    </div>
</center>
<br><br><br>
{% endblock content %}