{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Change User password" %}{% endblock title %}

{% block content %}
<center>
    <div class="container" style="margin-top:125px">
        <div class="col-6">
            <h1>{% trans "New password" %}</h1> 
            <br>                       
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <input type="submit" class="btn btn-success" value="{% trans 'Save' %}">
            </form>
        </div>
    </div>
</center>
<br><br><br>
{% endblock content %}