{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Password recovery" %}{% endblock title %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{% trans "Password recovery was successful." %}</h1>
        </div>
    </div>
</header>
<br><br>
<center>
    <div class="container">
        <div class="col-6">
          
            <p>{% trans "The new password is saved" %}</p>
            <br>
            <h3>{% trans "For enter the site " %} 
                <a href="{% url 'login' %}">{% trans "login" %}</a>
            </h3>            
        </div>
    </div>
</center>
<br><br><br>
{% endblock content %}