{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Send Email" %}{% endblock title %}

{% block content %}
<center>
    <div class="container" style="margin-top:129px">
        <div class="col-6">
            <h1>{% trans "Check Email Box" %}</h1>
            <br><br>
            <p>
                {% trans "We have emailed you instructions for setting your password.
                You should receive the email soon!" %}
            </p>
        </div>
    </div>
</center>
<br><br><br><br><br><br><br>
{% endblock content %}