{% extends "base.html" %}
{% load i18n %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{% trans "Login Page" %}</h1>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-4">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                      <input type="text" class="form-control" name = "username" placeholder="{% trans 'UserName' %}">
                    </div>
                    <br>
                    <div class="mb-3">
                      <input type="password" class="form-control" name = "password" placeholder="{%trans 'Password'%}">
                    </div>
                    <button type="submit" class="btn btn-secondary">{% trans "Login" %}</button>
                  </form>
                  <a class="dropdown-item" href="{% url 'password_reset' %}">{% trans "Forgot password" %}</a>
            </div>
        </center>
    </div>        
</div>
<br><br>
{% endblock content %}

